/* Landing page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .logo-2{
    padding-top: 2em;
  }
  .phone {
    position: relative;
    padding: 0 1em;
    width: 88%;
  }
  /* value
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .value {
    text-align: center;
  }
  .value h1 {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 2.5em;
    margin: 0 auto;
    padding: .4em;
  }

  .cicrle-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  /* bgimage
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .bgimage {
    width: 100%;
    padding-right: 1em;
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
    margin-bottom: 1em;
  }
  dl {
    margin: 0;
  }
  .footerbg {
    background-color: rgb(149, 233, 215);
    padding: 2em 0 1em 0;
  }
  /* Bigger than 35 */
  @media (min-width: 35em) {
    .landing {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
    }
    .phone {
      width: 100%;
      z-index: 3;
      transform: rotate(6deg);
    }
  }
  /* Bigger than 48 */
  @media (min-width: 48em) {
    .phone {
      padding-right: 2em;
    }
    .bgimage {
      padding: 3em 0;
    }
    .landing-bg {
      position: relative;
      top: -0.5em;
    }
  }
  
  /* Bigger than 960 */
  @media (min-width: 60em) {
    .landing {
      grid-template-columns: 3fr 1fr;
    }
    .landing-bg {
      position: relative;
      top: -4em;
    }
    .phone {
      padding: 0;
    }
    .mtop3em {
      margin-top:3em;
    }
  }